 body,
  html {
    height: 100%;
    margin: 0rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-color: black;
    color: white;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color:black;
    padding: 0.5rem;
  }
 
  .sidebar {
    flex: 0.22;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
  }
  
  .top-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    background-color:black;
    border-radius: 0.5rem;
  }
  
  .link-flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    opacity:1;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
  }

  .link-flex:hover {
    background-color: gray;
    transition: all 0.3s;
    border-radius: 5px;
    
  }
  .ks{
    display: flex;
    width: fit-content;
  }
  #dd{
    width:50px;
    height:50px;
    margin-top:7px;
    padding: 10px;
  }
  #dd1{
    height:20px;
    width: 20px;
    margin-top: 30px;
    margin-left: 10px;
  }
  .link img{
    margin-right: 10px;
    height: 50px;
    width: 160px;
  }
  .link-flex img {
    height: 1.2rem;
    width: 1.2rem;
  }
  .link-flex p {
    font-size: 1rem;
    color: white;
  }
  
  .library {
    border-radius: 0.5rem;
    flex: 3;
    overflow-y: auto;
    background-color: black;
    padding: 0.5rem 1.5rem;
    margin-bottom: 10PX;
  }
  #hjk{
    background-color:#004638 ;
  }
  #imj{
    background-color: white;
  }
  .flex-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.5rem;
    background-color:black;
    border-radius: 0.5rem;
  }
  .top img{
    width: 28px;
    height: 28px;
  }
  .flex-top img {
    height: 1rem;
    width: 1rem;
    opacity: 0.8;
    margin-top: 0.5rem;
  }
  
  .flex-top p {
    font-size: 0.8rem;
    opacity: 0.8;
  }
  
  .flex-top p:hover {
    opacity: 1;
    transition: all 0.3s;
  }
  
  .flex-top img:hover {
    opacity: 1;
    transition: all 0.3s;
  }
  
  .chip {
    margin-top: 0.5rem;
    align-items: center;
    background-color:black;
    border-radius: 5rem;
    width:95px;
    font-weight:500;
    color:white;
  }
  .chip img{
    margin-top: 5px;
  }
  .main-content {
    flex: 0.8;
    overflow-y: auto;
    background-color:#121212;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    padding-bottom: 6rem;
  }
.ist{
  position: fixed;
  margin-top: 305px;
}
.lis{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
  background-color:black;
  border-radius: 0.5rem;
}
  .album-flex {
    margin-bottom: 1rem !important;
  }
  
  .albums {
    margin-top: 1rem;
  }
  
  .album-cover {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 0.2rem;
  }
  
  .col-flex p {
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }
  
  .album-name {
    color: white;
    margin-bottom: 0.35rem !important;
    font-size: 1rem !important;
  }
  .song{
    display:flex;
    height: 40px;
    padding: 5px;
    gap: 5px;
    margin-right: 0px;
  }
  .navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    align-items: center;
    background-color:  #121212;
    z-index: 1000;
    /* Other styles as needed */
  }
  
  .cards-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    /* Other styles as needed */
  }
  
  .card {
    width: 150px;
    background-color:#181818 ;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 0rem 0.75rem;
  }
  .cards-container1{
    display: flex;
    
    flex-wrap: wrap;
    margin: 8px;
    border-radius: 5px;
  }
  .card-1{
    width: 250px;
    background-color:#181818 ;
    padding: 0.75rem;
    height:60px;
    margin: 0rem 0.75rem;
    display: flex;
  }
.see{
  display: flex;
  gap:750px;
}
.see h5{
  color:#828282 ;
}
.sen{
  margin-left: 20px;
}
.sen1{
 margin-left: 20px;
 margin-bottom: 20px;
}
  .card-1 img{
    width: 60px;
    height: fit-content;
  }
  .card-img {
    width: 100%;
    border-radius: 0.35rem;
  }

  .card-name {
    margin: 0.25rem 0;
  }
  
  .card-description {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.5;
  }
  
  .player {
    width: 100%;
    height: 80px; /* Adjust as needed */
    position: fixed;
    bottom: 0;
    background-color:  #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .volume-controls {
    width: 20vw;
  }
  .card:hover{
    background-color: #383838;
    cursor: pointer;
  }
  .card-1:hover{
    background-color: #383838;
    cursor: pointer;
  }
  
  .player-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }
  
  .player-controls {
    display: flex;
    align-items: center;
  }
  
  .volume-controls {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .player-timeline {
    display: flex;
    align-items: center;
  }
  
  .timeline-slider {
    margin: 0 10px;
    width: 40vw;
  }
  
  .volume-slider {
    width: 100px;
    height: 4px;
  }
  
  .timeline-slider:hover,
  .volume-slider:hover {
    background-color: #1bd760;
  }
  .timeline-slider,
  .volume-slider {
    -webkit-appearance: none;
  }
  .timeline-slider,
  .timeline-slider::-webkit-slider-runnable-track,
  .volume-slider::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 100px;
  }
  
  .timeline-slider::-webkit-slider-thumb,
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1bd760;
    margin-top: -6px;
  }
  
  .timeline-slider:focus,
  .volume-slider:focus {
    outline: none;
  }
  
  .timeline-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }